.login-page {
    /* background-color: grey; */
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#logodashboard {
    /* background-color: transparent !important; */
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

[class*=sidebar-dark-] {
     /* background-color: transparent !important; */
     background: #333333;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to bottom, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to bottom, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.deskripsi {
    border: 2px solid #333333;
    border-radius: 25px;
}

.komentar {
    border: 2px solid #dd1818;
    border-radius: 25px;
}

.small-box> .inner {
    height: 130px;
}

.position-relative {
    position: relative;
}
.clear-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

.rank-1 {
    background-color: gold !important;
}

.rank-2 {
    background-color: silver !important;
}

.rank-3 {
    background-color: #cd7f32 !important;
}


.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-container > div {
    flex: 1;
    margin: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.nama-staff {
    width: 65%;
}
